@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Russo+One&display=swap');
*{
 margin: 0;
 padding: 0;
 text-decoration: none;
}

body{
    background-color: #232323;
    font-family: 'Inter';
    color:#fff; 
}

main{
    display: flex;
}

#cabeçalho{
    color: white;
    font-family: 'Inter';
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 90px;
    align-items:center;  
}

.header1{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 1%;
}

.header{
    margin: 5%;
    left: 75%;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

.empresa{
    position: relative;
    font-size: 60px;
    margin-left: 2%;
    color:#FFFFFF;
}

.caixona{
    font-family: 'Inter';
    margin-bottom: 5%;
}
.caixa{
    background: #fff;
    border-radius: 20px;
    color:black;
    width: 25%;
    height: 450px;
    margin-top: 10%;
    margin-left: 5%;
}


.caixa p {
    font-size: 24px;
}

.titulo-plano{
    background-color: #32B8E2;
    border-radius: 20px 20px 0px 0px;
    color: white;
    text-align: center;
    width: 100%;
    height: 80px;
    font-size: 70px;
}

.caixona2{
    font-family: 'Inter';
}
.caixa2{
    position: relative;
    background: #fff;
    border-radius: 20px;
    color:black;
    width: 430px;
    height: 650px;
    margin-top: -42%;
    margin-left: 37%;
    font-size: 35px;
    padding: 1%;
}

h3{
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 70px;
    background-color: #8032E2;
    border-radius: 20px 20px 0px 0px;
    padding-top: 15px;
    padding-left: 38%;
    padding-right: 38%;
    color: white;
}

.pro {
    background-color: #8032E2;
}

.caixona3{
    font-family: 'Inter';
    margin-bottom: 5%;
}
.caixa3{
    position: absolute;
    background: #fff;
    border-radius: 20px;
    color:black;
    width: 430px;
    height: 650px;
    margin-top: -37%;
    margin-left: 66%;
    font-size: 35px;
    padding: 1%;
}

h4{
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 70px;
    background-color: #E29C32;
    border-radius: 20px 20px 0px 0px;
    padding-top: 15px;
    padding-left: 39%;
    padding-right: 38%;
    color: white;
}

.big {
    background-color: #E29C32;
}

.botão1{
    font-size: 38px;
    width: 150px;
    height: 50px;
    background: #2CDA00;
    border-radius: 10px;
    border-style: none;
    color: #fff;
    cursor: pointer;
    margin-left: 50%;
    margin-top: 10%;
}

.botão2{
    font-size: 38px;
    width: 200px;
    height: 70px;
    background: #2CDA00;
    border-radius: 10px;
    border-style: none;
    color: #fff;
    cursor: pointer;
}

.botão3{
    font-size: 38px;
    width: 200px;
    height: 70px;
    background: #2CDA00;
    border-radius: 10px;
    border-style: none;
    color: #fff;
    cursor: pointer;
}

h1{
    color: white;
    font-size: 90px;
    margin-left: 5%;
    margin-top: 1%;
}

.verde{
    color: #2CDA00;
}

button:hover{
    background: #40b124;
}

.preço{
    margin-top: 5%;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

.preço2{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.preço3{
    display:flex;
    flex-direction: column;
    align-items: center;
}