@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Russo+One&display=swap');
*{
 margin: 0;
 padding: 0;
 text-decoration: none;
}

body{
    background-color: #232323;
    font-family: 'Inter';
    color:#fff; 
}

#cabeçalho{
    color: white;
    font-family: 'Inter';
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 90px;
    align-items:center;
}

.header1{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 1%;
    margin-right: 10%;
}

.header{
    position: relative;
    margin: 5%;
    left: 75%;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

.empresa{
    position: relative;
    font-size: 60px;
    margin-left: 2%;
    color:#FFFFFF;
}

a{
    text-transform: none;
    text-decoration-color: #FFFFFF;
    text-decoration: none;
}

.bloco1{
    display:flex;
    align-items: center;
    margin-top: 2%;
    margin-left: 14%;
}

.titulo{
    position:relative;
    font-size: 50px;
    margin-top: 2%;
    margin-left: 9%;
    padding-bottom: 40px;
}

.descrição1{
    margin-top: -8%;
    margin-left: -5%;
    margin-right: 15%;
    font-size: 30px;
}

.bloco2{
    display:flex;
    align-items: center;
    margin-left: 13%;
}

.titulo2{
    position:relative;
    font-size: 50px;
    margin-top: 4%;
    margin-left: 52%;
    padding-bottom: 40px;
}

.descrição2{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 15%;
    margin-top: -3%;
    font-size: 30px;
}

.bloco2 img{ 
    left: -5%;
}

.bloco3{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7%;
}

.titulo3{
    position:relative;
    font-size: 50px;
    margin-top: 8%;
    margin-left: 10%;
    padding-bottom: 40px;
}

.descrição3{
    margin-top: -12%;
    margin-right: 15%;
    margin-left: 10%;
    font-size: 30px;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1%;
}

#sobre{
    font-size: 70px;
}

.descrição4{
    font-size: 35px;
    padding-left: 10%;
    padding-right: 10%;
}

.end{
    position: relative;
    color: #f9004d;
    top: 175%;
    font-size: 20px;
    margin: 1%;
}

.endereço{
    position: relative;
    top: 170%;
    font-size: 20px;
    margin: 3%;
}
